html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.charset {
    display: flex;
    justify-content: center;

    flex-grow: 1;
}


.btn2 {
    display: flex;
    margin: 12px;
}

.de {
    display: flex;
    margin-right: 7px;

}

input[ type='button'],
button {
    padding: 10px, ;
    font-size: 12px;
}


.content {

    background-color: rgb(222, 92, 52);
    width: 300px;
    height: 100px;

    display: flex;


    align-items: center;


}





#model:not(:active) {
    display: none;
}

.block {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

#list {
    margin: 0;
    list-style: none;
    text-transform: none;
}

.newItem:item {
    margin: 0;
    list-style: none;
}